# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Storage
storage/
temp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Enter.code-profile

# OS specific files
.DS_Store
Thumbs.db

# Transcripts
transcripts/
summaries/